html, body    {
    font-family: arial, sans-serif;
}
nav {
    background-color: #030102;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    height: 1.5em;
    padding: 0 1em;
    line-height: 1.5em;
    border-right: black 1px solid;
}

nav a {
    color: white;
    text-decoration: none;
	font-size: 20pt;
	font-family: arial;
}

nav a:hover {
    color: #00B2EE;
}

.keinrahmen {
    border-right: 0;
}